

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --pink: #FF33CC;
    --light-pink: #FF66CC;
    --light-blue: #33CCFF;
    --yellow: #FFC000;
    --green: #92D050;
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

.header{
    display:flex;
    flex-direction:row;

}
.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}


    

.profbtn {
    text-decoration: none;
    color: var(--text-color);
}



.buttons i{
    cursor:pointer;

}

.buttons .pause{
    display:none;
}

.main{
    display:flex;
    flex-direction:column;
    width:100%;
    height:100%;
    padding-left:6%;
    padding-right:6%;
    margin-bottom:2%;
}
.down{
    height:70%;
    width:100%;
    display:flex;
    flex-direction:row;

}
    .main .left{
        width:100%;
        height:100%;
        display:flex;
        flex-direction:row;
        margin-bottom:2%;

    }
    .main .welcome{
        height:100%;
        width:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
        margin-right:1%;
        justify-content:end;
    }
     video{
        width:auto;
        height:90%;
    }
.main .down-text {
   
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.decoration {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
    background-color: #F2C469;
    border-radius: 20px;
    justify-content:space-evenly
}

.decoration h2{
    color:white;

}
.decoration .you {
    color: var(--text-color);
}
.decoration h3{
    color:white;
}

        .main .left .welcome-msg {
            padding: 1%;
            font-size: 38px;
            font-weight: 500;
            color: var(--text-color); 
            text-align:end;
            width:100%;
        }

    .main .left img{
        height:30px;
        width:30px;
        
    }
    .main .right {
        width: 100%;

        background-color: #F7E1DF;
        border-radius:20px;
        padding:4%;        
    }

.top {
    color: #EB9481;
}

.song-title {
    font-weight: bold;
}

    table{
        width:100%;
        height:90%;
    }

        .right tr{
            padding:2%;
        }


