

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --pink: #FF33CC;
    --light-pink: #FF66CC;
    --light-blue: #33CCFF;
    --yellow: #FFC000;
    --green: #92D050;
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

.header{
    display:flex;
    flex-direction:row;

}
.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}


    

.profbtn {
    text-decoration: none;
    color: var(--text-color);
}



.buttons i{
    cursor:pointer;

}

.buttons .pause{
    display:none;
}

.main{
    display:flex;
    flex-direction:column;
    width:100%;
    height:100%;
    padding-left:3%;
    padding-right:3%;
    margin-bottom:2%;
    margin-top:1%;
}
.down{
    height:70%;
    width:100%;
    display:flex;
    flex-direction:row;

}
    .main .left{
        width:100%;
        height:100%;
        display:flex;
        flex-direction:row;
        margin-bottom:2%;

    }
.main .welcome {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1%;
    justify-content: end;
    border-radius: 20px;
}
     video{
        width:90%;
        height:90%;
    }
     .video{
         width:40%;
         padding:1%;
     }

     .video img{
         width:100%;
     }
.main .down-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FAE4A6;
    width:80%;
}

.decoration {
    display: flex;
    flex-direction: row-reverse;
    height: 50%;
    width: 100%;
    background-color: #F2C469;
    border-radius: 20px;
    justify-content:space-evenly;
}

    .decoration h2 {
        color: #FAE4A6;
    }
    .decoration .you {
        color: white;
    }
.decoration h3{
    color:white;
}

.main .left .welcome-msg {
    padding: 1%;
    font-size: 30px;
    color: #74C0FC;
    text-align: end;
    width: 100%;
}
.left .welcome-msg1 {
    text-align: right;
    font-size: 35px;
    width: 100%;
    color: #EB9481;
}

    .main .left img{
        height:30px;
        width:30px;
        
    }
    .main .right {
        width: 100%;

        background-color: #F7E1DF;
        border-radius:20px;
        padding:3%;        
    }

.top {
    color: #EB9481;
    margin-bottom:2%;
    margin-top:-2%;
}

.top1 {
    color: #EB9481;
    margin-bottom:2%;
    margin-top:-2%;
    font-size:30px;
}

.song-title {
    font-weight: bold;
}

    table{
        width:100%;
        height:90%;
    }

        .right tr{
            padding:2%;
        }


input[type=submit], .decoration a {
    background-color: transparent;
    cursor: pointer;
    border: 0px;
    font-size: 20px;
    color: white;
    text-decoration:none;
}

.suggestion {
    border-radius: 50%;
    background-color: #FAE4A6;
    height: 110px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

    .suggestion:hover {
        background-color: #EB9481;
        transition:var(--tran-04);
    }

.suggestions {
    display:flex;
    width:100%;
    align-content:center;
    justify-content:space-evenly;
}

.low-activity{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100%;
    text-align:center;
}
