

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #f5c0e0;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --light-text-color: #white;
    --pink: #FF33CC;
    --light-pink: #FF66CC;
    --light-blue: #33CCFF;
    --yellow: #FFC000;
    --green: #92D050;
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

.header {
    display: flex;
    flex-direction: row;
}

.right-corner {
    position: absolute;
    right: 2%;
    top: 2%;
    font-size: 15px;
    display: flex;
    width: 150px;
    justify-content: space-between;
}
.profbtn{
    text-decoration:none;
    color:var(--text-color);
}
.home{
    height:100%;
    display:flex;
    flex-direction:column;
    width:100%;


}

.main{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    padding-left:3%;
}
.containers{
    width:100%;
    height:100%;
    padding:1%;

}
    .left-container{
        display:flex;
        flex-direction:column;   
        height:100%;
        width:100%;
        flex:1 2 auto;

    }
     form{
        height:100%;
        width:100%;
        border-radius:20px;
        display:flex;
        align-items:center;
        justify-content:center;  
        
    }
     .left-container form{
        margin-bottom:3%;

     }

    input[type=submit]{
        background-color:transparent;
        cursor:pointer;
        border:0px;
        font-size:20px;
        color:#FFF;
    }

    .left-form-up {
        background-color: var(--yellow);
    }

    .left-form-down{
        background-color:var(--green);
    }

    .up1{
        background-color:var(--light-blue);

    }
    .up2 {
        background-color: var(--primary-color);
    }
    .up3 {
        background-color: var(--light-pink);
    }

    .down1 {
        background-color: var(--text-color);
    }
.down2 {
    background-color: var(--light-blue);
}


.right-container {
    display: flex;
    flex-direction: column;
}
    .right-container form {
        margin-bottom: 1%;
        margin-right:2%;
    }

    .right-container .right-upper,.right-down{
        display:flex;
        flex-direction:row;
    }

    .right-upper form{

    }
.song-managing {
    width: 97%;
    background-color: var(--primary-color-light);
    bottom: 0;
    height: 12%;
    border-radius: 20px;
    margin-left: 2%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.buttons {
    color: var(--text-color);
    transition: var(--tran-03);
    font-size: 40px;
    display: flex;
    flex-direction: row;
}

    .buttons i {
        cursor: pointer;
    }

    .buttons .pause {
        display: none;
    }
