
:root {
    /* ===== Colors ===== */
    --body-color: #fff;
    --sidebar-color: #FFF;
    --primary-color: #F7E1DF;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --light-text-color: #white;
    --pink: #FF33CC;
    --light-pink: #FF66CC;
    --light-blue: #33CCFF;
    --yellow: #FFC000;
    --green: #92D050;
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}
.header {
    display: flex;
    flex-direction: row;
}

.right-corner {
    position: absolute;
    right: 2%;
    top: 2%;
    font-size: 15px;
    display: flex;
    width: 150px;
    justify-content: center;
}
.right-corner img{
    margin-right:3%;
}

.profbtn {
    text-decoration: none;
    color: var(--text-color);
}
.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x:clip;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 3%;
    padding-bottom: 2%;
    
}

table {
    width: 100%;
    border-collapse: collapse;
}

.song-list {
    width: 100%;
    background-image: url('/Resources/output-onlinepngtools.png');
    background-repeat: no-repeat;
    background-size:80% 90%;
    background-position-x: center;
    background-position-y: bottom;
}
.song td{
   border:none;
   padding:0.07%;
}

.song .play-icon{
    display:flex;
    justify-content:center;
    align-items:center;
}

.sname {
    overflow-x:hidden;
    white-space:nowrap;
    margin-right:10%;
}

td:first-child,
th:first-child {
    border-radius: 10px 0 0 10px;
}


td:last-child,
th:last-child {
    border-radius: 0 10px 10px 0;
}

.song:hover {
    background-color: #FAE4A6;
    transition: var(--tran-04);
    opacity:0.8;
}

.song-list .text{
    font-size:15px;
    font-weight:400;
    padding:0;
}
    .song:hover .text,.buttons{
    }
.song .play-icon {
    cursor: pointer;
    transition: var(--tran-05);
}

.pause-icon {
    cursor: pointer;
    transition: var(--tran-03);
}

 .duration{
    text-align:right;
}



 .song-list .h{
     font-size:16px;
     font-weight:500;
 }

 td i{
     text-align:right;
 }
    td i .icon {
        min-width: 60px;
        border-radius: 6px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }



.song-managing {
    width: 97%;
    background-color: var(--primary-color-light);
    bottom: 0;
    height: 12%;
    border-radius: 20px;
    margin-left: 2%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:auto;
}
.heart,.full-heart{
    text-align:right;
    font-size:15px;
    cursor:pointer;
}

.song-managing .buttons {
    color: var(--text-color);
    transition: var(--tran-03);
    font-size: 40px;
    display: flex;
    flex-direction: row;
    cursor:pointer;
}

.song .buttons {
    color: var(--text-color);
    transition: var(--tran-03);
    font-size: 20px;
    cursor:pointer;
}

    .buttons i {
        cursor: pointer;
    }

    .like-btn{
        text-align:center;
        display:flex;
        justify-content:center;
        align-items:center;
    }
.heart ,.play-btn {   
    background-color: transparent;
    cursor: pointer;
    border: 0px;
    font-size: 20px;
    color: #FFF;
}


   