:root {
    /* ===== Colors ===== */
    --body-color: #fff;
    --sidebar-color: #FFF;
    --primary-color: #f5c0e0;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --light-text-color: #white;
    --pink: #FF33CC;
    --light-pink: #FF66CC;
    --light-blue: #33CCFF;
    --yellow: #FFC000;
    --green: #92D050;
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

.header {
    display: flex;
    flex-direction: row;
}
.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.right-corner {
    position: absolute;
    right: 2%;
    top: 2%;
    font-size: 15px;
    display: flex;
    width: 150px;
    justify-content: space-between;
}
.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    padding-bottom:2%
    
}

.main .information, .statistics{
    width:100%;
    height:100%;
}

    .main .information {
        background-color: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        margin-right: 2%;
        flex-direction: column;
        flex: 1 2 auto;
    }

.information table {
    height: 100%;
    width: 90%;
    padding-bottom:15%;
    padding-top:2%;
}


.image-editor{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100%;
    
}
.edit{
    background-color: transparent;
    cursor: pointer;
    border: 0px;
    font-size: 20px;
    color: #FFF;

}
.image-editor .icon{
    cursor:pointer;
}
.profile-img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8%;
}

    .profile-img img {
        height:70px;
        width:70px;
        border-radius:50%;
    }

    .image-editor form{
        display:flex;
        flex-direction:column;
        padding:2%;
        align-items:center;
        justify-content:center;
        text-align:center;

    }
    .image-editor .edit-btn{
        height:100%;
        display:flex;
        align-items:end;
    }

    .image-editor form input[type="file"]::file-selector-button{
        background-color:white;
        border-radius:20px;
        padding:1%;
        border:none;
        text-align:center;
        cursor:pointer;
        margin-left:20%;
    }
        .image-editor form button {
            background-color: white;
            border-radius: 20px;
            padding: 1%;
            border: none;
            cursor: pointer;
            margin-top:1%;
        }

        .image-editor form button:hover{
            transform:scale(1.07);
        }
        .information .infotext {
            font-size: 15px;
            text-align: left;
        }

.information .infoname{
    color:var(--sidebar-color);
}

.statistics{
    display:flex;
    flex-direction:column;
    padding-right:2%;
}
    .statistics .mostplayed {
        background-color: var(--green);
        padding: 2%;
        border-radius: 20px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        margin-bottom:1%;

    }


    .statistics .favorite-genre {
        background-color: var(--yellow);
        color: white;
        padding: 2%;
        border-radius: 20px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .statistics .browse-btn{
        text-decoration:none;
        background-color:white;
        padding:1%;
        border-radius:20px;
        margin-top:1%;
        color:var(--text-color);
        width:20%;        
        text-align:center;
    }

 