@model UserModel

@section Styles{
    <link rel="stylesheet" href="~/css/MoodsStyle.css" />
    <link rel="stylesheet" href="~/css/MenuStyle.css" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

}


<!--Side Menu-->
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <!--<img src="logo.png" alt="">-->
                </span>
                <div class="text logo-text">
                    <span class="name">Musification</span>
                    <span class="profession"><i>You</i> choose</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a class="homebtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Homepage">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Homepage</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="favbtn" href="#">
                            <i class='bx bx-heart icon'></i>
                            <span class="text nav-text">Favorites</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="moodbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Moods">
                            <i class='bx bx-happy-alt icon'></i>
                            <span class="text nav-text">Moods</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Profile">
                            <i class='bx bx-male icon'></i>
                            <span class="text nav-text">Profile</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li class="">
                    <a class="logoutbtn" asp-controller="Home" asp-action="Login">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>
    </nav>

    <!--Main Section-->
    <section class="home">

        <div class="header">
            <div class="text title">Favorites</div>
            <div class="right-corner">
                <img src="~/Resources/icons8-male-user-24 (1).png"></img>

                <div class="smalltext username ">@ViewBag.username </div>
            </div>
        </div>
        <div class="main">
        </div>


        <div class="song-managing">
            <div class="buttons">
                <i class='bx bx-skip-previous'></i>
                <i class='bx bx-pause pause' onclick="Hide()"></i>
                <i class='bx bx-play bx-flip-vertical play' onclick="Hide()"></i>
                <i class='bx bx-skip-next'></i>
            </div>
        </div>

    </section>


    <!--Javascripts-->
    <script>
        function Hide() {

            const play = document.querySelector('[class*=play]');
            const pause = document.querySelector('[class*=pause]');
            if (play.style.display === 'block' && pause.style.display === 'none') {
                play.style.display = 'none';
                pause.style.display = 'block';
            }
            else {
                play.style.display = 'block';
                pause.style.display = 'none';
            }


        }

        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text"),
            buttonplay = body.querySelector(".play"),
            buttonpause = body.querySelector(".pause");

        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        })
        searchBtn.addEventListener("click", () => {
            sidebar.classList.remove("close");
        })
        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");

            if (body.classList.contains("dark")) {
                modeText.innerText = "Light mode";
            } else {
                modeText.innerText = "Dark mode";

            }
        });


    </script>
</body>

