@model LoginModel

@section Styles{
    <link rel="stylesheet" href="~/css/HomepageStyle.css" />
    <link rel="stylesheet" href="~/css/MenuStyle.css" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

}

<!--Side Menu-->
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <!--<img src="logo.png" alt="">-->
                </span>
                <div class="text logo-text">
                    <span class="name">Musification</span>
                    <span class="profession"><i>You</i> choose</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a class="homebtn" href="#">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Homepage</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="favbtn" href="#">
                            <i class='bx bx-heart icon'></i>
                            <span class="text nav-text">Favorites</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="moodbtn" href="#">
                            <i class='bx bx-happy-alt icon'></i>
                            <span class="text nav-text">Moods</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="profbtn" href="#">
                            <i class='bx bx-male icon'></i>
                            <span class="text nav-text">Profile</span>
                        </a>
                    </li>                    
                </ul>
            </div>
            <div class="bottom-content">
                <li class="">
                    <a class="logoutbtn" href="#">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>
    </nav>

    <!--Main Section-->
    <section class="home">

        <div class="header">
            <div class="text title">Homepage</div>
            <div class ="username">@Html.DisplayFor(model=>model.username) </div>
        </div>
        <div class="main">

        </div>

    </section>
    <script>
        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text");
        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        })
        searchBtn.addEventListener("click", () => {
            sidebar.classList.remove("close");
        })
        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");

            if (body.classList.contains("dark")) {
                modeText.innerText = "Light mode";
            } else {
                modeText.innerText = "Dark mode";

            }
        });
    </script>
</body>


