@model ThesisProject.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}
@section Styles{
    <link rel="stylesheet" href="~/css/LoginStyle.css" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

}



<div class="container">
    <div class="sign-in-form">
        <form asp-controller="Home" asp-action="Login" method="post" class="form">
            <h1>Sign In</h1>
            <input type="text" placeholder="Email" class="input" asp-for="username" />
            <input type="password" placeholder="Password" class="input" asp-for="password" />
            <input type="submit" class="submit-btn" value="Submit" class="input" />
        </form>
    </div>
    <div class="image-container">
        <img src="@Url.Content("~/Resources/loginImage.png")" class="image"/>
        <h2>Here, you choose your mood</h2>
    </div>
</div>