@model ThesisProject.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}
@section Styles{
    <link rel="stylesheet" href="~/css/LoginStyle.css" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

}



<div class="page">
    <div class="sign-in-form">
        <form asp-controller="Home" asp-action="Login" method="post" class="form">
            <h1>Sign In</h1>
            <div class="inputs">
                <input type="text" placeholder="Username" class="input" asp-for="username" />
            </div>
            <div class="inputs">
                <input type="password" placeholder="Password" class="input" asp-for="password">

            </div>
            <div class="error" id="error">
            </div>
            <input type="submit" class="submit-btn" value="Sign In" class="input" onclick="myfunction()"/>
        </form>
        <div class="register">
            <h4>Don't have an account yet?</h4>
            <a class="signin" asp-controller="Home" asp-action="Registration">
                <h5>Sign up</h5>
            </a>
            
        </div>
    </div>
    <div class="image-container">
        <img src="@Url.Content("~/Images/own-bird.png")" class="image" />
        <h2>Here, <i>you</i> choose your mood</h2>
    </div>
</div>

@if (Model != null && !Model.isLoginConfirmed)
{
    <script type="text/javascript" src="~/js/LoginScript.js">
    </script>
}
